<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      
      <view
      categoryId="com.example.java.swt.views.Category"
      name="Hello"
      class="com.example.java.swt.views.Hello"
      id="com.example.java.swt.views.Hello"
      >
    
      </view>
   </extension>

</plugin>
